{
  "openapi": "3.1.0",
  "info": {
    "title": "Sycon Cloud API",
    "contact": {
      "name": "Sycon",
      "url": "https://www.sycon.fr/",
      "email": "hello@sycon.fr"
    },
    "version": "1.2.0"
  },
  "servers": [
    {
      "url": "https://cloud.sycon.io",
      "description": "Generated server url"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "API auth",
      "description": "Data API authentication management"
    },
    {
      "name": "Data API",
      "description": "Retrieve data produced by devices"
    }
  ],
  "paths": {
    "/auth/login": {
      "post": {
        "tags": [
          "API auth"
        ],
        "summary": "Obtain a JWT in the Authorization header and a renew JWT in the Renew header if the authentication is successful.",
        "operationId": "postAuthLogin",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ApiLoginRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Success"
          },
          "403": {
            "description": "Failure",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                }
              }
            }
          }
        },
        "security": []
      }
    },
    "/auth/renew": {
      "get": {
        "tags": [
          "API auth"
        ],
        "summary": "Renew the Authorization JWT if the Renew token is still valid.",
        "operationId": "getAuthRenew",
        "parameters": [
          {
            "name": "Renew",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Renew token is still valid and a new JWT is returned in the authorization header."
          },
          "403": {
            "description": "Renew token is invalid or expired.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                }
              }
            }
          }
        },
        "security": []
      }
    },
    "/auth/check": {
      "get": {
        "tags": [
          "API auth"
        ],
        "summary": "Validate the JWT in the Authorization header.",
        "operationId": "getAuthCheck",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "JWT is still valid."
          },
          "403": {
            "description": "JWT is invalid or expired.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                }
              }
            }
          }
        },
        "security": []
      }
    },
    "/api/devices": {
      "get": {
        "tags": [
          "Data API"
        ],
        "summary": "List all devices of the customer.",
        "operationId": "getApiDevices",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/SyconDevice"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated: JWT token is missing or invalid",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                }
              }
            }
          }
        }
      }
    },
    "/api/devices/{deviceId}/{field}/data/raw": {
      "get": {
        "tags": [
          "Data API"
        ],
        "summary": "Retrieve the raw data of a sensor of a device.",
        "description": "Either the headLimit or the tailLimit must be specified. If there are more values in the given time window than the head or tail limit, the values are truncated according to the chosen limit.\n                    \nPagination can be emulated by using the first and last values timestamps indicated in the response.",
        "operationId": "getApiDevicesDataRawByDeviceIdAndField",
        "parameters": [
          {
            "name": "deviceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "field",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/ESyconFieldType"
            }
          },
          {
            "name": "externalSensorId",
            "in": "query",
            "description": "Optional external sensor id to get data from this external sensor only. If null, returns only data for internal sensors (without external sensor id).",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "start",
            "in": "query",
            "description": "ISO-8601 format instant",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "example": "2024-12-03T10:15:30.000Z"
          },
          {
            "name": "end",
            "in": "query",
            "description": "ISO-8601 format instant",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "example": "2024-12-03T10:15:30.000Z"
          },
          {
            "name": "headLimit",
            "in": "query",
            "description": "The limit of values to return from the start (values up to the end are truncated). Limited to 10000",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "tailLimit",
            "in": "query",
            "description": "The limit of values to return up to the end (values from the start are truncated). Limited to 10000",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SyconFieldData"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request: check query parameters (mandatory, formats)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated: JWT token is missing or invalid",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                }
              }
            }
          },
          "403": {
            "description": "Access to device data is forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                }
              }
            }
          },
          "404": {
            "description": "Customer device not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                }
              }
            }
          },
          "502": {
            "description": "Error while querying the data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ApiLoginRequest": {
        "type": "object",
        "properties": {
          "username": {
            "type": "string"
          },
          "password": {
            "type": "string"
          }
        },
        "required": [
          "password",
          "username"
        ]
      },
      "ErrorBody": {
        "type": "object",
        "description": "Model for REST error responses (4xx and 5xx codes).",
        "properties": {
          "path": {
            "type": "string"
          },
          "causes": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "ESyconFieldType": {
        "type": "string",
        "enum": [
          "ACCELERATION_MAG_MAX_MS2",
          "ACCELERATION_MAG_MEAN_MS2",
          "ACCELERATION_MAG_VARIANCE_MS2",
          "ACCELERATION_X_MS2",
          "ACCELERATION_Y_MS2",
          "ACCELERATION_Z_MS2",
          "AIR_QUALITY_INDEX",
          "BATTERY_PERCENT",
          "CO2_PPM",
          "EXT_CURRENT_AMP",
          "EXT_ELECTRICAL_POWER_WATT",
          "EXT_HUMIDITY_PERCENT",
          "EXT_REF_VOLTAGE_VOLT",
          "EXT_TEMPERATURE_CELSIUS",
          "EXT_VOLTAGE_VOLT",
          "HUMIDITY_PERCENT",
          "LIGHT_R",
          "LIGHT_G",
          "LIGHT_B",
          "LIGHT_IR",
          "PRESSURE_HPA",
          "TEMPERATURE_CELSIUS",
          "VOLATILE_ORGANIC_COMPOUND_PPM"
        ]
      },
      "SyconDevice": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int64"
          },
          "serialNumber": {
            "type": "string"
          },
          "identifier": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "customerId": {
            "type": "integer",
            "format": "int64"
          },
          "fields": {
            "type": "array",
            "description": "Contains values available for query in the last 7 days.\nOther values may yield results outside of the last 7 days but will not be listed here.",
            "items": {
              "$ref": "#/components/schemas/ESyconFieldType"
            },
            "uniqueItems": true
          },
          "externalSensorIds": {
            "type": "array",
            "description": "Contains values available for query in the last 7 days.\nOther values may yield results outside of the last 7 days but will not be listed here.",
            "items": {
              "type": "string"
            },
            "uniqueItems": true
          }
        },
        "required": [
          "externalSensorIds",
          "fields",
          "id",
          "identifier",
          "serialNumber"
        ]
      },
      "SyconFieldData": {
        "type": "object",
        "properties": {
          "deviceId": {
            "type": "integer",
            "format": "int64"
          },
          "field": {
            "$ref": "#/components/schemas/ESyconFieldType"
          },
          "externalSensorId": {
            "type": "string"
          },
          "firstTimestamp": {
            "type": "string",
            "format": "date-time"
          },
          "lastTimestamp": {
            "type": "string",
            "format": "date-time"
          },
          "count": {
            "type": "integer",
            "format": "int32"
          },
          "dataPoints": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SyconFieldDataPoint"
            }
          }
        },
        "required": [
          "count",
          "dataPoints",
          "deviceId",
          "field"
        ]
      },
      "SyconFieldDataPoint": {
        "type": "object",
        "properties": {
          "time": {
            "type": "string",
            "format": "date-time"
          },
          "value": {
            "type": "number",
            "format": "double"
          },
          "textValue": {
            "type": "string"
          }
        },
        "required": [
          "time"
        ]
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "in": "header",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}